.films__list,
.films-library__list {
  padding-top: 20px;
  min-height: 360px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    // height: 5280px;
  }

  @media screen and (min-width: 1280px) {
    row-gap: 32px;
    column-gap: 16px;

    // height: 4682px;
  }
}