.films__card {
  width: 280px;
  height: 440px;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 494px;
    flex-basis: calc(100% / 2 - 32px);
    margin-left: 32px;
    margin-top: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 634px;
    flex-basis: calc(100% / 3 - 16px);
    margin-left: 16px;
    margin-top: 32px;
  }
}

.films__img {
  margin-bottom: 10px;
  width: 280px;
  height: 398px;

  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
    width: 336px;
    height: 455px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 12px;
    width: 395px;
    height: 574px;
  }
}

.films__title {
  font-family: $primary-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.films__genre {
  font-family: $primary-font;
  color: $accent-bcg-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 24px;
  }
}
