body {
  color: $black-font-color;
  background-color: $white-bcg-color;
  font-family: $primary-font;
  font-size: $basic-font-size;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1280px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;

  display: block;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 0;
}

ul {
  padding-left: 0;
  margin: 0;

  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  padding: 0;
  margin: 0;
}
