body {
  color: $black-font-color;
  font-family: $primary-font;
  font-size: $basic-font-size;
  letter-spacing: 0.03em;
  background-image: url(/src/images/фон3.jpg);
  background-color: black;
  background-size: cover;
  background-attachment: fixed;

  @media screen and (min-width: 1281px) {
    padding-top: 80px;
    padding-bottom: 70px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding-top: 80px;
    padding-bottom: 70px;
  }

  @media screen and (min-width: 769px) and (max-width: 1279px) {
    padding-top: 80px;
    padding-bottom: 70px;
  }
}

.container {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: $mobile;
  }
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    width: $tablet;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: $desktop;
    max-width: 1280px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;

  display: block;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 0;
}

ul {
  padding-left: 0;
  margin: 0;

  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  padding: 0;
  margin: 0;
}
