.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  font-family: $primary-font;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  text-align: center;
  justify-content: center;

  border-radius: 5px;
  border: 1px solid;
  text-decoration: none;
}

.header__btn {
  color: $white-font-color;
  background-color: transparent;
  border-color: $white-bcg-color;

  @media screen and (max-width: 767px) {
    width: 130px;
    height: 44px;
  }

  @media screen and (min-width: 768px) {
    width: 152px;
    height: 44px;
  }

  @media screen and (min-width: 1280px) {
    width: 148px;
    height: 42px;
  }

  &:hover,
  &:focus {
    background-color: $accent-font-color;
    border: none;
    box-shadow: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  }
}

.header__btns {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 767px) {
    gap: 20px;
    margin-top: 60px;
  }

  @media screen and (min-width: 768px) {
    gap: 32px;
    margin-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    gap: 16px;
    margin-top: 40px;
  }
}

.modal__btn {
  color: $black-font-color;
  background-color: transparent;

  @media screen and (max-width: 767px) {
    width: 110px;
  }

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
  }

  &:hover,
  &:focus {
    color: $white-font-color;
    background-color: $accent-font-color;
  }
}
