@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: #000000;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 0;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  padding: 0;
  margin: 0;
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .header {
    max-width: 480px;
    padding: 40px 20px 44px 20px;
    height: 230px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    padding: 40px 32px 44px 32px;
    height: 216px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    width: 1280px;
    padding: 40px 32px 44px 32px;
    height: 216px;
  }
}

@media screen and (max-width: 767px) {
  .header-home {
    background-image: url(../images/home/hom-bcg-img_s-@1x.png);
  }
}
@media screen and (min-width: 768px) {
  .header-home {
    background-image: url(../images/home/hom-bcg-img_m-@1x.png);
  }
}
@media screen and (min-width: 1280px) {
  .header-home {
    background-image: url(../images/home/hom-bcg-img_l-@1x.png);
  }
}

@media screen and (max-width: 767px) {
  .header-library {
    background-image: url(../images/library/lib-bcg-img_s-@1x.png);
  }
}
@media screen and (min-width: 768px) {
  .header-library {
    background-image: url(../images/library/lib-bcg-img_m-@1x.png);
  }
}
@media screen and (min-width: 1280px) {
  .header-library {
    background-image: url(../images/library/lib-bcg-img_l-@1x.png);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px), screen and (min-resolution: 192dpi) and (min-width: 480px), screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .header-home {
    background-image: url(../images/home/hom-bcg-img_s-@2x.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .header-home {
    background-image: url(../images/home/hom-bcg-img_m-@2x.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .header-home {
    background-image: url(../images/home/hom-bcg-img_l-@2x.png);
  }
}
.header-content {
  display: flex;
}

.header-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.header-nav__link, .header-nav__link--active {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-decoration: none;
  transition-property: color;
  transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover, .header-nav__link--active:hover, .header-nav__link:focus, .header-nav__link--active:focus {
  color: #ff001b;
}
.header-nav__link--active {
  color: #ffffff;
}
.header-nav__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  top: 17px;
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ff001b;
}

.logo {
  text-decoration: none;
  color: #ffffff;
  stroke: #ffffff;
  display: flex;
  align-items: center;
}
.logo:hover, .logo:focus {
  color: #ff001b;
  stroke: #ff001b;
}

.logo__icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.logo__text {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.1666666667;
}
@media screen and (max-width: 767px) {
  .logo__text {
    display: none;
  }
}

.search-button__icon {
  width: 12px;
  height: 12px;
}

.search-button {
  background-color: transparent;
}/*# sourceMappingURL=index.css.map */