<div class="backdrop is-hidden js-auth-modal">
    <div class="auth-modal">
        <button type="button" class="auth-modal__btn js-close">
    
        </button>
        <form class="auth-modal__form">
            <strong class="auth-modal__titleIn">Sign in</strong>
            <strong class="auth-modal__titleUp visually-hidden">Sign up</strong>
            <div class="auth-modal__name visually-hidden">
                <label for="name" class="auth-modal__label">Name</label>
                <input type="text" name="name" id="name_1" class="auth-modal_login__input" placeholder=" ">
                <svg width="18" height="18" class="auth-modal__icon">
                    <use href="/src/images/icons.svg#icon-user"></use>
                </svg>
            </div>
            <div class="auth-modal__email">
                <label for="email_1" class="auth-modal__label">E-mail</label>
                <input type="email" name="email" id="email_1" class="auth-modal_login__input" placeholder=" ">
                <svg width="18" height="18" class="auth-modal__icon">
                <use href="/src/images/icons.svg#icon-mail"></use>
                </svg>
            </div>
            <div class="auth-modal__password">
                <label for="password" class="auth-modal__label">Password</label>
                <input type="password" name="password" id="password" class="auth-modal_login__input" placeholder=" ">
                <svg width="18" height="18" class="auth-modal__icon">
                <use href="/src/images/icons.svg#icon-key"></use>
                </svg>
            </div>
            <div class="auth-modal__wrap_checkbox visually-hidden">
                <input type="checkbox" name="checkbox" id="checkbox" class="auth-modal__checkbox visually-hidden">
                <label for="checkbox" class="auth-modal__text">I agree with newsletter and accept <a href=""
                        class="auth-modal__link">Terms of contract</a></label>
            </div>
            <button type="submit" class="auth-modal__button_register visually-hidden disabled_for_signUp" disabled>Register</button>
            <button type="submit" class="auth-modal__button_confirm">Confirm</button>
            <div class="signUp_now">
                <p class="signUp_now__text">Not a member?</p> <a href="" class="signUp_now__link">Please, sign up</a>
            </div>
            <div class="signIn_now visually-hidden">
                <p class="signIn_now__text">Already a member?</p> <a href="" class="signIn_now__link">Please, sign in</a>
            </div>
        </form>
        </div>
    </div>