<!-- <div class="backdrop overlay data-modal">
  <div class="film-modal"> -->
<!-- знопка закритя -->
<!-- <button class="film-modal__btn-icon-close" type="button">
      <svg class="" width="" height=""></svg>
    </button> -->
<!-- картинка -->
<!-- <div class="film-modal__thumb">
      <img class="film-modal__img" src="" alt="" />
    </div> -->
<!-- інформаційний контейнер -->
<!-- <div class="film-modal__info-container">
      <h2 class="film-modal__title">Film name</h2>
      <table class="film-modal__table">
        <tbody class="film-modal__cell1">
          <tr>
            <td class="film-modal__cell film-modal__modal-text">
              Vote / Votes
            </td>
            <td class="film-modal__cell film-modal__modal-text">
              <span class="film-modal__span film-modal__span-vote">7.3</span> "
              / "
              <span class="film-modal__span film-modal__span--votes">
                167
              </span>
            </td>
          </tr> -->

<!-- <tr>
            <td class="film-modal__cell film-modal__modal-text">Popularity</td>
            <td class="film-modal__cell film-modal__modal-text">856.8</td>
          </tr>

          <tr>
            <td class="film-modal__cell film-modal__modal-text">
              Oraginal Title
            </td>
            <td class="film-modal__cell film-modal__modal-text">
              <span>7.3</span> " / " <span> 167 </span>
            </td>
          </tr> -->

<!-- <tr>
            <td class="film-modal__cell film-modal__modal-text">Genre</td>
            <td class="film-modal__cell film-modal__modal-text">
              Action, Romance, Comedy
            </td>
          </tr>
        </tbody>
      </table> -->

<!-- Буде час сюди б я добавила кнопку запуску перегляду трейлера -->

<!-- опис фільму -->
<!-- <h3 class="film-modal__subtitle">ABOUT</h3>
      <p class="fil-modal__text">Movie description</p> -->

<!-- кнопки -->
<!-- <ul class="film-modal__btn-list">
        <li class="film-modal__btn-item">
          <button
            class="button button-modal-btn button-accent-btn"
            type=""
            data-action="watch"
          >
            ADD TO WATCHED
          </button>
        </li>
        <li class="film-modal__btn-item">
          <button class="button button-modal-btn" type="" data-action="queue">
            ADD TO QUEUE
          </button>
        </li>
      </ul>
    </div>
  </div>
</div> -->
<!-- <div>
  <ul class="film-modal__btn-list">
      <li class="film-modal__btn-item">
        <button class="btn modal__btn" type="button" data-action="watch">
          ADD TO WATCHED
        </button>
      </li>
      <li class="film-modal__btn-item">
        <button class=" btn modal__btn" type="button" data-action="queue">
          ADD TO QUEUE
        </button>
      </li>
</div> -->
<div class="backdrop overlay data-modal isHidden">
  <div class="film-modal ">
    <!-- знопка закритя -->
    <!-- картинка -->
    <div class="renderModal"></div>

  </div>
</div>