<div class="backdrop is-hidden js-modal-team">
  <div class="main__modal team__modal">
    <div class="modal__wrapper">
      <button type="button" class="modal__close-btn js-modal-close">
        <svg class="modal__close-icon" width="18" height="18">
          <use href="/src/images/icons.svg#icon-cross"></use>
        </svg>
      </button>
    </div>
    <div class="team">
      <h2 class="team__logo">Our Team</h2>
      <div class="team__container">
        <ul class="team__list">
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/src/images/team/Mark.jpeg"
                alt="Mark"
                width="170"
                height="120"
              />
            </div>
            <h3 class="team__developer">Mark</h3>
            <p class="team__prof">Team-lead</p>
            <a
              class="team__social"
              href="https://github.com/Markizdickabraz"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/src/images/team/Katerryna.jpeg"
                alt="Kateryna"
                width="170"
                height="120"
              />
            </div>
            <h3 class="team__developer">Kateryna</h3>
            <p class="team__prof">Scrum-master</p>
            <a
              class="team__social"
              href="https://github.com/panchenko-kate"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/src/images/team/Artem.jpeg"
                alt="Artem"
                width="170"
                height="120"
              />
            </div>
            <h3 class="team__developer">Artem</h3>
            <p class="team__prof">Developer</p>
            <a
              class="team__social"
              href="https://github.com/ArtemS25"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/src/images/team/Yulia.jpeg"
                alt="Yulia"
                width="170"
                height="120"
              />
            </div>
            <h3 class="team__developer">Yulia</h3>
            <p class="team__prof">Developer</p>
            <a
              class="team__social"
              href="https://github.com/YuliiaVlasiuk"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/src/images/team/Maksym.jpeg"
                alt="Maksym"
                width="170"
                height="120"
              />
            </div>
            <h3 class="team__developer">Maksym</h3>
            <p class="team__prof">Developer</p>
            <a
              class="team__social"
              href="https://github.com/Maksym-Svyrydov"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/src/images/team/Olena.jpeg"
                alt="Olena"
                width="170"
                height="120"
              />
            </div>
            <h3 class="team__developer">Olena</h3>
            <p class="team__prof">Developer</p>
            <a
              class="team__social"
              href="https://github.com/OlenaMurza"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/src/images/team/Kiril.jpeg"
                alt="Kiril"
                width="170"
                height="120"
              />
            </div>
            <h3 class="team__developer">Kiril</h3>
            <p class="team__prof">Developer</p>
            <a
              class="team__social"
              href="https://github.com/ttsiutsiura"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/src/images/team/Anastasia.jpeg"
                alt="Anastasia"
                width="170"
                height="120"
              />
            </div>
            <h3 class="team__developer">Anastasia</h3>
            <p class="team__prof">Developer</p>
            <a
              class="team__social"
              href="https://github.com/Nastasiia03"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/src/images/team/Andriy.jpeg"
                alt="Andriy"
                width="170"
                height="120"
              />
            </div>
            <h3 class="team__developer">Andriy</h3>
            <p class="team__prof">Developer</p>
            <a
              class="team__social"
              href="https://github.com/Andriyan78"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/src/images/team/Elena.jpeg"
                alt="Olena"
                width="170"
                height="120"
              />
            </div>
            <h3 class="team__developer">Olena</h3>
            <p class="team__prof">Developer</p>
            <a
              class="team__social"
              href="https://github.com/HelenaUa"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/src/images/team/Maks.jpeg"
                alt="Maksym"
                width="170"
                height="120"
              />
            </div>
            <h3 class="team__developer">Maksym</h3>
            <p class="team__prof">Developer</p>
            <a
              class="team__social"
              href="https://github.com/Maksym-Plutenko"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/src/images/team/Liudmyla.jpeg"
                alt="Liudmyla"
                width="170"
                height="120"
              />
            </div>
            <h3 class="team__developer">Liudmyla</h3>
            <p class="team__prof">Developer</p>
            <a
              class="team__social"
              href="https://github.com/liudmyla-ch"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/src/images/team/Vadym.jpeg"
                alt="Vadym"
                width="170"
                height="120"
              />
            </div>
            <h3 class="team__developer">Vadym</h3>
            <p class="team__prof">Developer</p>
            <a
              class="team__social"
              href="https://github.com/aspirantmpm"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/src/images/team/Oleg.jpeg"
                alt="Oleg"
                width="170"
                height="120"
              />
            </div>
            <h3 class="team__developer">Oleg</h3>
            <p class="team__prof">Developer</p>
            <a
              class="team__social"
              href="https://github.com/Angori4"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
