.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 1;
  transform: translateY(0%);
  visibility: visible;
  transition: opacity 500ms linear, visibility 500ms linear,
    transform 500ms linear;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 20px;
  }
}
.backdrop.is-hidden {
  visibility: 0;
  opacity: none;
  pointer-events: hidden;
  transform: translateY(-100%);
}

.film-modal {
  position: absolute;
  left: 237px;
  top: 150px;
  background: #ffffff;
  padding: 40px 16px 40px 12px;
  display: flex;
  border-radius: 4px;
  align-items: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 280px;
    height: auto;
    flex-direction: column;
    top: 260px;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    width: 704px;
    height: auto;
    align-items: flex-start;
    padding: 40px;
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    height: 558px;
  }
}

.film-modal__btn-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: #ffffff;
  color: black;
  background-image: url(/src/images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.film-modal__btn-icon-close {
  display: block;
  fill: currentColor;
}

.film-modal__thumb {
  border-radius: 5px;
  margin-right: 16px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin: 0;
  }
}

.film-modal__thumb-img {
  width: 370px;
  height: 480px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  color: #000000;
}

.film-modal__img {
  border-radius: 5px;
}

.film-modal__info-container {
  width: 391px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: auto;
  }
}

.film-modal__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  margin-bottom: 20px;

  color: #000000;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 20px;
  }
}

.film-modal__table {
  width: 100%;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.33;
}

.film-modal__cell1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  color: #000000;
}

// .film-modal__cell {}

.film-modal__modal-text {
  color: #8c8c8c;
}

.film-modal__span {
  width: 36px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
}

.film-modal__span-vote {
  color: #ffffff;
  background-color: #ff6b01;
}

.film-modal__span--votes {
  color: #000;
  background-color: #f7f7f7;
}

.film-modal__modal-text--popularity,
.film-modal__modal-text--oraginal,
.film-modal__modal-text--genre {
  color: #000;
}
.film-modal__subtitle {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.33333;
  width: 65px;
  height: 16px;
}

.fil-modal__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  color: #000000;
}

.film-modal__btn-list {
  display: flex;
  gap: 15px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    justify-content: center;
  }
}

.modal__btn {
  text-align: center;
  margin-top: 20px;
  padding: 13px 10px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 110px;
    height: 60px;
  }
}

.modal__btn.button__accent-btn {
  color: #fff;
  background-color: #ff6b01;
  border: none;
}

.modal__btn.button__modal-btn {
  width: 110px;
  height: 44px;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border-color: #000;
  font-size: 12px;
  line-height: 1.33333;
}

.isHidden {
  display: none;
}

.film-modal__img {
  @media screen and (min-width: 768px) {
    width: 274px;
    height: 364px;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
    height: 478px;
  }
}
