.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 3;
  opacity: 1;
  transform: translateY(0%);
  visibility: visible;
  transition: opacity 500ms linear, visibility 500ms linear,
    transform 500ms linear;
}

.backdrop.is-hidden {
  visibility: 0;
  opacity: none;
  pointer-events: hidden;
  transform: translateY(-100%);
}

.film-modal {
  z-index: 100;
  position: absolute;
  width: 80%;
  height: 80%;
  left: 237px;
  top: 150px;
  background: #ffffff;
  padding: 40px 16px 40px 12px;
  display: flex;
  border-radius: 4px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.film-modal__btn-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: #ffffff;
  color: black;
}

.film-modal__btn-icon-close {
  display: block;
  fill: currentColor;
}

.film-modal__thumb {
  width: 380px;
  height: 480px;
  margin: auto;
  border-radius: 5px;
}

.film-modal__thumb-img {
  width: 370px;
  height: 480px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  color: #000000;
}

.film-modal__info-container {
  width: 391px;
}

.film-modal__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  color: #000000;
}

.film-modal__table {
  width: 100%;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.33;
}

// .film-modal__cell1 {}

// .film-modal__cell {}

.film-modal__modal-text {
  color: #8c8c8c;
}

.film-modal__span {
  width: 36px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
}

.film-modal__span-vote {
  color: #ffffff;
  background-color: #ff6b01;
}

.film-modal__span--votes {
  color: #000;
  background-color: #f7f7f7;
}

.film-modal__modal-text--popularity,
.film-modal__modal-text--oraginal,
.film-modal__modal-text--genre {
  color: #000;
}

.film-modal__subtitle {
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.33333;
  width: 65px;
  height: 16px;
}

.fil-modal__text {
  font-size: 12px;
  line-height: 1.66667;
  margin-bottom: 20px;
}

.film-modal__btn-list {
  display: flex;
  justify-content: space-around;
}

.film-modal__btn-item {
  margin: 15px;
}

.modal__btn {
  text-align: center;
  margin: 0;
  padding: 0;
}

.modal__btn.button__accent-btn {
  color: #fff;
  background-color: #ff6b01;
  border: none;
}

.modal__btn.button__modal-btn {
  width: 110px;
  height: 44px;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border-color: #000;
  font-size: 12px;
  line-height: 1.33333;
}

.isHidden {
  display: none;
}