<header class="header header-library">
  <div class="header-content">
    <a class="logo" href="./index.html">
      <svg class="logo__icon">
        <use href="./images/icons.svg#icon-film-reel"></use>
      </svg>
      <span class="logo__text">Filmoteka</span>
    </a>

    <ul class="header-nav">
      <li class="header-nav__item">
        <a class="header-nav__link" href="./index.html">HOME</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link--active" href="./library.html">MY LIBRARY</a>
      </li>
    </ul>
  </div>
  <ul class="header__btns">
    <button class="btn header__btn js-btn__watched isActive">WATCHED</button>
    <button class="btn header__btn js-btn__queue">QUEUE</button>
  </ul>
  <button class="brightness__btn">
    <svg class="brightness__icon">
      <use href="./images/icons.svg#icon-brightness-contrast"></use>
    </svg>
  </button>
</header>
