<div class="pagination-container">
        <button class="pagin-btn arrow-left">  </button>
        <button class="pagin-btn first-btn">1</button>
        <span class="dots" id="previous">...</span>
        <button class="pagin-btn pagination--current" data-index="1">1</button>
        <button class="pagin-btn" data-index="2">2</button>
        <button class="pagin-btn" data-index="3">3</button>
        <button class="pagin-btn" data-index="4">4</button>
        <button class="pagin-btn" data-index="5">5</button>
        <span class="dots" id="after">...</span>
        <button class="pagin-btn last-btn">1000</button>
        <button class="pagin-btn arrow-right">
        </button>
      </div>
    </div>